.myModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}

.myModalContent {
  padding: 25px;
  background-color: rgb(9, 28, 62);
  border-radius: 16px;
  min-width: 250px;
  max-height: 80%;
  overflow-y: auto;
}

.myModal.active {
  padding-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
